@import 'colors.scss';
@import 'font.scss';
@import 'menu.scss';
@import 'animations.scss';

body {
    background-color: $azul-escuro;
    font-family: $font;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.menu {

    @extend %menu;
    border: none;
    margin-right: 0;
    margin-left: 0;
    margin-top: 10vh;
    padding-bottom: 6vh;
    padding-left: 0;
    padding-right: 0;


    .menu__logo {
        @extend %menu-logo;
        width: 90px;
        margin-bottom: 0;
    }

    .menu__title {
        @extend %menu-title;
        margin-bottom: 0;
        margin-top: 1.2vh;
    }

    .menu__type {
        font-size: 16px;
        font-weight: 400;
        color: $verde-claro;
        text-align: center;
        margin-bottom: 2vh;
        user-select: none;
    }

    .menu__link {
        display: block;
        color: $azul-claro;
        font-size: 14px;
        text-align: center;
        margin-top: 0.7vh;
    
        &:hover {
            text-decoration: none;
            color: $verde-claro;
        }
    }

    .mobile__link {
        display: none;
    }

    .menu__title {
        font-size: 12px;
        color: $verde-claro;
        text-align: center;
    }

}

.verde-claro {
    color: $verde-claro !important;
}

.funcionarios {

    .funcionarios__title {
        font-size: 28px;
        color: $azul-claro;
        text-align: center;
        margin-bottom: 4vh;
    }

    .funcionarios__code {
        font-size: 12px;
        color: $verde-claro;
        margin-bottom: 6vh;
        text-align: center;
    }

    .funcionarios__table__head {
        
        border-bottom: 2px solid $verde-claro;

        .funcionarios__table__head__title {
            font-size: 9px;
            color: $verde-claro;
            text-align: center;
        }

    }

    .funcionarios__table__data {

        border-bottom: 2px solid $azul-claro;

        .funcionarios__table__data__row {
            text-align: center;
        }

        .funcionarios__table__data__text {
            display: inline-block;
            font-size: 9px;
            color: $azul-claro;
        }


        .funcionarios__table__data__coin {
            display: inline-block;
            width: 10px;
            margin-left: 5px;
        }

        .funcionarios__table__data__icon {
            font-size: 14px;
            color: $azul-claro;
            display: block;
            cursor: pointer;
            text-align: center;
            margin-top: 3px;

            &:hover {
                color: $verde-claro;
            }
        }
    }

}

.delete {
    display: none;
    margin-top: 6vh;

    .delete__input {
        display: none;
    }

    .delete__question {
        font-size: 20px;
        color: $azul-claro;
        text-align: center;
    }

    .delete__button {
        font-size: 20px;
        color: $verde-claro;
        border: 2px solid $verde-claro;
        border-radius: 12px;
        display: block;
        margin-bottom: 2vh;
        margin-left: auto;
        margin-right: auto;
        padding-left: 4vw;
        padding-right: 4vw;
        background: none;

        &:hover {
            color: $azul-claro;
            border: 2px solid $azul-claro;
        }

        &:focus {
            outline: none;
        }
    }
}


@media only screen and (max-width: 767px) {

    .menu {
        border: none;
        margin-left: 2vw;
        margin-right: 2vw;

        .menu__logo {
            margin-bottom: 2vh;
            width: 80%;
        }

        .menu__title {
           font-size: 14px;
        }

        .menu__link {
            display: block;
        }

        .mobile__link {
            margin-top: 6vh;
            display: block;
        }

    }

    .funcionarios {
        .email {
            display: none;
        }

        .funcionarios__code {
            font-size: 10px;
        }

        .funcionarios__table__data {
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
    }

}