@import 'colors.scss';
@import 'font.scss';
@import 'menu.scss';

body {
    background-color: $azul-escuro;
    font-family: $font;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.menu {

    @extend %menu;
    margin-right: 6vw;
    margin-left: 6vw;
    margin-top: 20vh;
    padding-bottom: 6vh;


    .menu__logo {
        @extend %menu-logo;
        width: 100%;
    }

    .menu__title {
        @extend %menu-title;
        margin-bottom: 0;
    }

    .menu__type {
        font-size: 16px;
        font-weight: 400;
        color: $verde-claro;
        text-align: center;
        margin-bottom: 2vh;
        user-select: none;
    }

    .menu__link {
        display: block;
        color: $azul-claro;
        font-size: 20px;
        margin-top: 6vh;
        margin-bottom: 4vh;
        text-align: center;
    
        &:hover {
            text-decoration: none;
            color: $verde-claro;
        }
    }

}

@media only screen and (max-width: 767px) {

    .menu {
        border: none;
        margin-left: 3vw;
        margin-right: 3vw;
    }

}