@import 'colors.scss';
@import 'font.scss';
@import 'menu.scss';


body {
    background-color: $azul-escuro;
    font-family: $font;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.menu {
    @extend %menu;

    .menu__logo {
        @extend %menu-logo;
        width: 40%
    }

    .menu__title {
        @extend %menu-title;
    }

    .menu__options {

        margin-top: 20px;

        .menu__options__link {
            display: block;
            text-align: center;
            font-size: 16px;
            color: $verde-claro;
            margin-bottom: 2vh;

            &:hover {
                text-decoration: none;
                color: $azul-claro;
            }
        }
    }
}