@import 'colors.scss';
@import 'font.scss';
@import 'menu.scss';

body {
    background-color: $azul-escuro;
    font-family: $font;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.menu {

    @extend %menu;

    .menu__logo {
        @extend %menu-logo;
        width: 100%;
    }

    .menu__options {

        display: flex;
        justify-content: space-between;
        border-top: 2px solid $verde-claro;
        border-bottom: 2px solid $verde-claro;
        padding-top: 1vh;
        padding-bottom: 1vh;

        .menu__options__link {
            display: inline-block;
            color: $verde-claro;
            font-size: 18px;
            font-weight: 300;
            text-align: center;

            &:hover {
                text-decoration: none;
                color: $azul-claro;
            }
        }
    
    }

}

@media only screen and (max-width: 767px) {

    .menu {
        border: none;
        margin-left: 3vw;
        margin-right: 3vw;
    }

}