@import 'colors.scss';
@import 'font.scss';
@import 'menu.scss';
@import 'animations.scss';


body {
    background-color: $azul-escuro;
    font-family: $font;
    overflow: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.menu {
    @extend %menu;
    margin-left: 10vw;
    margin-right: 10vw;

    .menu__logo {
        @extend %menu-logo;
        width: 60%
    }

    .menu__title {
        @extend %menu-title;
    }

    .menu__options__link {
        display: block;
        text-align: center;
        font-size: 16px;
        color: $verde-claro;
        margin-bottom: 2vh;
        border: 2px solid $verde-claro;
        border-radius: 12px;
        padding: 1vh;
        margin-left: 4vw;
        margin-right: 4vw;

        &:hover {
            text-decoration: none;
            color: $azul-claro;
            border: 2px solid $azul-claro;
            background-color: $verde-claro;
            font-weight: 600;
        }

    }
}

@media only screen and (max-width: 767px) {

    .menu {
        border: none;
        margin-left: 3vw;
        margin-right: 3vw;

        .menu__options {
            .menu__options__link { 
                margin-left: 18vw;
                margin-right: 18vw;

                &:hover {
                    text-decoration: none;
                    color: $verde-claro;
                    border: 2px solid $verde-claro;
                    background: none;
                    font-weight: 400;
                }
            }


        }

    }

}