<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/code_form.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>coinflow | redefinir senha</title>
</head>
<body>

    <main>
        <div class="row content">
            <div class="col-md-4"></div>

            <div class="col-md-4">

                <div class="menu" role="menu">

                    <form action="/redefinir/codigo/funcionario" method="POST">

                        <a role="menuitem" href="/"><img class="menu__logo" src="/images/logo.png" alt="Logo da coinflow"></a>
                        <h1 class="menu__title">REDEFINIR</h1>
                        <p class="menu__msg">{{message}} {{message2}}</p>
                        <label class="menu__label" for="code"><b>CÓDIGO</b></label>
                        <input class="menu__input" type="text" placeholder="Enter received code" name="code" id="code" aria-required="true" required>
                        <label class="menu__label" for="password"><b>NOVA SENHA</b></label>
                        <input class="menu__input" type="password" placeholder="Enter new password" name="password" id="password" minlength="8" aria-required="true" required>
                        <label class="menu__label" for="repeatpassword"><b>REPETIR</b></label>
                        <input class="menu__input" type="password" placeholder="Repeat password" name="repeatpassword" id="repeatpassword" aria-required="true" required>

                        <button class="menu__button" type="submit">REDEFINIR</button>

                    </form>


                </div>

            </div>
            <div class="col-md-4"></div>
        </div>
    </main>


    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/animate_logo.js"></script>

</body>
</html>