<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>coinflow | funcionário</title>
</head>
<body>

    <main>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="menu" role="menu">

                    <div class="row">
                        <div class="col-md-4"><a role="menuitem" href="/"><img class="menu__logo" src="/images/logo.png" alt="Logo da coinflow"></a></div>
                        <div class="col-md-4"><h1 class="menu__title">{{nome}}</h1></div>
                        <div class="col-md-2"><a role="menuitem" href="/admin/{{user_id}}/enviar" class="menu__link">voltar</a></div>
                        <div class="col-md-2"><a role="menuitem" href="/logout" class="menu__link">sair</a></div>
                    </div>

                    <div class="row menu__options">

                        <a class="col-5 menu__options__link" href="/user/{{user_id}}/recompensas/visualizar">
                            <div class="menu__options__option" id="liberar">
                                <i class="flaticon-gift-box-with-a-bow menu__options__option__icon"></i>
                                <h1 class="menu__options__option__title">recompensas</h1>
                            </div>
                        </a>

                        <div class="col-2"></div>
                        <a class="col-5 menu__options__link" href="/user/{{user_id}}/recompensas/resgates">
                            <div class="menu__options__option" id="liberar">
                                <i class="flaticon-get-gifts menu__options__option__icon"></i>
                                <h1 class="menu__options__option__title">meus resgates</h1>
                            </div>
                        </a>
                    </div>

                    <a href="/" class="menu__link mobile__link">menu</a>
                    <a href="/logout" class="menu__link mobile__link sair">sair</a>

                </div>

            </div>
        </div>
    </main>




    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/animate_logo.js"></script>
    <script src="/scripts/user.js"></script>

</body>
</html>